@mixin clearfix{
    &:after{
        clear: both;
        display: table;
        content: "";
    }
}
@mixin box-sizing{
    box-sizing: border-box;
}

@mixin hover{
    &:after{
        width: 100%;
        height: 2px;
        background: #4cafac;
        transform: scaleX(0);
        content: "";
        position: absolute;
        top: 25px;
        visibility: hidden;
        left: 0;
        transition: all .2s ease-in-out;
    }
    &:hover{
        &:after{
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

// Respond to mixin for media queries.
@mixin respond-to($type, $media:none){
    $device-smartphone: 320px;
    $device-tablet: 600px;
    $device-widescreen: 1025px;

    @if $type == smartphone {
        @media screen and (min-width:$device-smartphone){ @content; }
    }

    @if $type == tablet {
        @media screen and (min-width:$device-tablet){ @content; }
    }

    @if $type == widescreen {
        @media screen and (min-width:$device-widescreen){ @content; }
    }

    @if $type == custom {
        @media screen and (min-width: 1025px) and (max-width: 1280px){ @content; }
    }
}
