.latest-articles{
    @include box-sizing;
    padding: 30px 15px;
    background: #f4f6f9;
    @include respond-to(tablet){
        padding: 80px 10%;
    }
    @include respond-to(widescreen){
        padding: 80px 50px;
    }
    .article-header{
        @include respond-to(tablet){
            margin: 10px 0 50px 0;
        }
        @include respond-to(widescreen){
            margin: 0 0 50px 100px;
            padding-right: 2%;
        }
        h4{
            margin-bottom: 10px;
            @include respond-to(tablet){
                width: 55%;
                display: inline-block;
            }
            @include respond-to(widescreen){
                width: 65%;
            }
        }
        h5{
            @include respond-to(tablet){
                width: 11%;
                display: inline-block;
                padding-right: 20px;
            }
            @include respond-to(widescreen){
                width: 6%;
            }
        }
        select{
            width: 100%;    
            padding: 0 0 10px 5px;
            font-size: 13px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance:none; 
            border: none;
            background: url("../images/arrow-down.png") no-repeat 98% 6px;
            color: rgba(65,74,82,0.5);
            border-bottom: 2px solid #5bc9c5;
            @include respond-to(tablet){
                padding: 0 0 10px 0;
                width: 25%;   
            }
            &:focus{
                outline: none;
            }
        }
    }
    .article-wrapper{
        padding: 0;
        @include respond-to(widescreen){
            padding: 0 20px;
        }
        article{
            position: relative;
            margin: 50px 0 0;
            @include respond-to(widescreen){
                display: inline-block;
                width: 32%;
                margin: 0;
                vertical-align: top;
                &.spacing{
                    margin: 0 2% 50px 0; 
                }
            }
            a{
                color: #5bc9c5;
            }
            img{
                width: 100%;
                height: 225px;
                @include respond-to(tablet){
                    height: 300px;
                }
            } 
            .layer{
                position: absolute;
                top: 0; left: 0;
                height: 225px;
                @include respond-to(tablet){
                    height: 300px;

                }
            }
            h2{
                background: none;
                font-weight: 500;
                line-height: 30px;
                color: rgb(77, 82, 86);
                font-size: 20px;
                span{
                    margin: 0 0 0 5px;
                    font-size: 16px;
                    vertical-align: top;
                    display: none;
                }
            }  
            p{
                font-size: 13px;
                line-height: 20px;
                padding: 0 0 20px 0;
                border-bottom: 1px solid #E5E7E9;
            }
            .more-links{
                @include clearfix;
                span{
                    color: rgb(77, 82, 86);
                    font-size: 13px;
                    float: right;
                    margin-right: 10px;
                    .fa{
                        vertical-align: top;
                        margin-right: 3px;
                    }
                }
            }
            &:hover{
                span{
                    transition: all 300ms;
                    display: inline;
                }
            }
        }
    }
    .button{
        text-align: center;
        margin: 40px 0 20px;
        .secondary{
            margin: 20px auto;
            letter-spacing: 1px;
            height: 50px;
            padding: 15px 20px;
            &:focus, &:active{
                outline: none;
            }
            &:hover{
                outline: none;
                color: #fff;
                background: #59cbc7;
            }
        }
    }
}