@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    margin: 0;
}
h1{
    color: rgb(94, 98, 101);
    font: normal 60px 'Raleway', sans-serif;
}
h2{
    color: #fff;
    font: bold 18px 'Raleway', sans-serif;
    background: #000;
    @include respond-to(tablet){
        font: normal 30px 'Raleway', sans-serif;
    }
    @include respond-to(widescreen){
        font: normal 48px 'Raleway', sans-serif;
    }
}
h3{
    color: #8a9097;
    font: italic 20px 'Raleway', sans-serif;
}
h4{
    color: #5e6265;
    font: bold 15px 'Raleway', sans-serif;
    &:after{
        display: block;
        width: 30px;
        margin: 15px 0 0 0 ;
        border-top: 2px solid #59cbc7;
        content: "";
    }
}
h5{
    color: #414A52;
    text-transform: uppercase;
    font: bold 13px 'Raleway', sans-serif;
}
article{
    h1{
        color: #fff;
        font: normal 16px 'Raleway', sans-serif;
    }
}
nav{
    color: #7d8185;
}
a{
    text-decoration: none;
    text-align: center;
    padding: 10px 5px;
    @include box-sizing;
    font: normal 13px 'Raleway', sans-serif;
    cursor: pointer;
}
p{
    color: #4d5256;
    word-spacing: 3px;
    letter-spacing: 1.5px;
    font: normal 15px 'Raleway', sans-serif;
}
button{
    font: normal 13px 'Raleway', sans-serif;
    cursor: pointer;    
    &.primary{
        border: none;
        letter-spacing: 3px;
        padding: 10px 20px;
        color: #fff;
        background: #59cbc7;
        @include respond-to(tablet){
            padding: 20px;
        }
    }
    &.secondary{
        color: #59cbc7;
        background: transparent;
        border: 2px solid #59cbc7;
    }
}
.bold{
    font-style: bold;
}
.italic{
    font-style: italic;
}
ul{
    list-style: none;
    li{
        display: inline-block;
    }
}
*:hover{
    transition: border-bottom 2s ease-in-out;
}
figure,figcaption{
    margin: 0;
    padding: 0;
}
.layer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    &:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.logo{
    background: url("../images/Logo.png") no-repeat center center / cover;
    height: 100px;
    width: 100%;
    padding: 0;
    float: left;
    margin: 0;
    @include respond-to(tablet){
        background: url("../images/Logo.png") no-repeat center / cover;
        width: 40%;
        height: 110px;
    }
    @include respond-to(widescreen){
        width: 25%;
    }
}
ul{
    padding: 0;
}