@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    margin: 0;
}
h1{
    color: rgb(94, 98, 101);
    font: normal 60px 'Raleway', sans-serif;
}
h2{
    color: #fff;
    font: normal 48px 'Raleway', sans-serif;
    background: #000;
}
h3{
    color: #8a9097;
    font: italic 20px 'Raleway', sans-serif;
}
h4{
    color: #5e6265;
    font: bold 15px 'Raleway', sans-serif;
    &:after{
        display: block;
        width: 30px;
        margin: 15px 0 0 0 ;
        border-top: 2px solid #59cbc7;
        content: "";
    }
}
h5{
    color: #414A52;
    text-transform: uppercase;
    font: bold 13px 'Raleway', sans-serif;
}
article{
    h1{
        color: #fff;
        font: normal 16px 'Raleway', sans-serif;
    }
}
nav{
    color: #7d8185;
}
a{
    text-decoration: none;
    text-align: center;
    padding: 10px 5px;
    @include box-sizing;
    font: normal 13px 'Raleway', sans-serif;
    cursor: pointer;
}
p{
    color: #4d5256;
    word-spacing: 3px;
    letter-spacing: 1.5px;
    font: normal 15px 'Raleway', sans-serif;
}
button{
    font: normal 13px 'Raleway', sans-serif;
    cursor: pointer;    
    &.primary{
        border: none;
        letter-spacing: 3px;
        padding: 20px;
        color: #fff;
        background: #59cbc7;
    }
    &.secondary{
        color: #59cbc7;
        border: 2px solid #59cbc7;
    }
}
.bold{
    font-style: bold;
}
.italic{
    font-style: italic;
}
ul{
    list-style: none;
    li{
        display: inline-block;
    }
}
*:hover{
    transition-delay: 200ms;
    transition-timing-function: ease;
}
figure,figcaption{
    margin: 0;
    padding: 0;
}
