.carousel-wrapper{
    width: 99%;
    cursor: default;
    margin: 10px auto;
    overflow: hidden;
    max-height: 550px;
    ul{
        width: 300%;
        list-style: none;
        padding: 0;
        margin: 0;
        @include clearfix;
    }
    li{
        float: left;
        @include box-sizing;
        width: 33.33%;
        height: 400px;
        @include respond-to(tablet){
            height: 500px;
        }
        .carousel-layer{
            margin: 0;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            position: relative;
            padding: 0;
            height: inherit;       
        }
        .carousel-content{
            color: #fff;
            text-align: center;
            width: 90%;
            padding: 60px 0 0 0;
            margin: 0 auto;
            @include respond-to(tablet){
                width: 80%;
                padding: 80px 0;
            }
            p{  
                color: #fff;
                margin: 60px 0 0 0 ;
                padding: 30px 0;
                border-top: 1px solid #8a9097;
                @include respond-to(tablet){
                    padding: 30px;
                }
            }
        }
        &.carousel-image-first{
            background: url("../images/carousel-image1.png") no-repeat center / cover;
        }
        &.carousel-image-second{
            background: url("../images/carousel-image2.png") no-repeat center / cover;
        }
        &.carousel-image-third{
            background: url("../images/carousel-image3.png") no-repeat center / cover;
        }
        h2{
            margin: 0;
            line-height: 1.5;
            background: none;
            font-style: italic;
        }
        .primary{
            margin-top: 40px;
            @include respond-to(tablet){
                margin-top: 50px;
            }
        }
    }
}