.collectives{
    width: 80%;
    cursor: default;
    margin: 140px auto 100px;
    @include clearfix;
    h4{
        float: left;
        width: 25%; 
    }
    .collective-content{
        float: left;
        width: 70%;
        p{       
            margin-bottom: 30px;
        }
        iframe{
            margin: 40px 0 50px -100px;
            border: 5px solid #f4f6f9;
            width: 80%;
            height: 300px;
        }
    }
}