.contacts{
    @include clearfix;
    button{
        display: none;
        padding: 15px 20px;
        &:hover{
            color: #fff;
            background: #59cbc7;
        }
    }
    .contact-container{
        position: relative;
        float: left;
        @include box-sizing;
        @include respond-to(tablet){
            width: 50%;
        }
        img{
            width: 100%;
            height: 500px;
            display: block;
            @include respond-to(tablet){
                height: 450px;
            }
        }
        .layer{
            position: absolute;
            top: 0; left: 0;
            @include box-sizing;
            padding: 20px 40px;
            height: 500px;
            @include respond-to(tablet){
                height: 450px;
            }
            .contact{
                text-align: center;
                position: absolute;
                max-height: 500px;
                width: 100%;
                top: 140px;
                left: 0;
                h5{
                    display: none;
                    color: rgba(220,220,220,0.7);
                }
                p{
                    display: none;
                    margin: 0 auto 30px;
                    font-size: 13px;
                    padding: 0 20px 40px;
                    border-bottom: 2px solid #fff;
                    color: #fff;
                }
            }
            .fa{
                color: #fff;
                display: none;
            }
            span{
                margin-left: 5px;
                font-size: 15px;
                color: #fff;
                display: none;
            }
            &:hover{
                h5{
                    display: block;
                }
                p, button, .fa, span{
                    display: inline-block;
                }
            }
        }
    }
    .button-wrapper{
        text-align: center;
        .secondary{
            margin: 70px 0;
            display: inline-block;
        }
        .promotion{
            background: linear-gradient(225deg, #70f6ea 0%,#51ccdc 100%);
            padding: 50px 0 20px;
            max-height: 230px;
            @include respond-to(tablet){
                padding: 95px 0;
            }
            .container{
                a, h2{  
                    margin: 0;
                    background: none;
                    letter-spacing: 0;
                    word-spacing: 0;
                    font-size: 18px;
                    text-align: center;
                    font-weight: 100;
                    line-height: 2;
                    @include respond-to(tablet){
                        display: inline-block;
                        font-size: 30px;
                    }
                }
                a{
                    font-weight: 700;
                    border-bottom: 1px solid #fff;
                    padding: 0 0 2px 0;
                    color: #fff;
                }
                button{
                    vertical-align: top;
                    padding: 10px 20px;
                    display: inline-block;
                    color: #fff;
                    border-color: #fff;
                    margin: 40px 0;
                    @include respond-to(tablet){
                        margin: 0 0 0 20px;
                    }
                    &:hover{
                        background: #fff;
                        color: #59cbc7;
                    }
                }
            }
        }
    }
}