.crew{
    background: #F4F6F9;
    padding: 20px 0;
    @include respond-to(tablet){
        padding: 80px 50px;
    }
    h4{
        width: 90%;
        margin: 10px auto;
        @include respond-to(widescreen){
            margin: 50px 0 30px 100px;
        }
    }
    .skillsets, .crew-members{
        width: 90%;
        margin: 30px auto;
        @include box-sizing;
        @include clearfix;
        @include respond-to(tablet){
            width: 96%;
            margin: 45px 0;
        }
        @include respond-to(widescreen){
            margin: 60px auto;
        }
    }
    .crew-members{
        article{
            width: 100%;
            min-height: 320px;
            max-height: 500px;
            margin: 30px 0;
            @include respond-to(tablet){
                display: inline-block;
                vertical-align: top;
                width: 48%;
            }
            @include respond-to(widescreen){
                width: 23%;
            }
            .hover-layer{
                display: none;
                background: rgba(91, 201, 197, 0.7);
                text-align: center;
                padding: 100px 0;
                @include box-sizing;
                min-height: 320px;
                max-height: 500px;
                @include respond-to(tablet){
                    padding: 80px 0;
                }
                h2{
                    font-size: 15px;
                    background: transparent;
                    text-transform: uppercase;
                }
                p{
                    padding: 10px 20px;
                    word-spacing: 0;
                    letter-spacing: 0;
                    color: #fff;
                    font-size: 15px;
                }
            }
            &:hover{
                .hover-layer{
                    display: block;
                }
            }
            &.peter{
                background: url("../images/Peter.png") no-repeat center center / cover;
                @include respond-to(tablet){
                    margin-right: 1%;
                }
                @include respond-to(widescreen){
                    margin: 0 1% 0 0;
                }
            }
            &.blaz{
                background: url("../images/Blaz.png") no-repeat center center / cover;
                @include respond-to(tablet){
                    margin-left: 1%;
                }
                @include respond-to(widescreen){
                    margin: 0 1.1%;
                }
            }
            &.maryLou{
                background: url("../images/Mary Lou.png") no-repeat center center / cover;
                @include respond-to(tablet){
                    margin-right: 1%;
                }
                @include respond-to(widescreen){
                    margin: 0 1.1%;
                }
            }
            &.kobe{
                background: url("../images/Dude.png") no-repeat center center / cover;
                @include respond-to(tablet){
                    margin-left: 1%;
                }
                @include respond-to(widescreen){
                    margin: 0 0 0 1%;
                }
            }
            .social-links{
                a{
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    display: inline-block;
                }
                .twitter{
                    margin-right: 5px;
                    background: url("../images/twitter_icon.png") no-repeat center / 70%;
                }
                .linkedin{
                    margin-left: 5px;
                    background: url("../images/linkedin _icon.png") no-repeat center / 70%;
                }
            }
        }
    }
    .skillsets{
        article{
            margin: 20px 0;
            @include respond-to(tablet){
                display: inline-block;
                width: 48.5%;
            }
            @include respond-to(widescreen){
                margin-bottom: 30px;  
            }  
            h5{
                margin: 0 0 10px 0;
                line-height: 20px;
                @include box-sizing;
                @include clearfix;
                span{
                    font-weight: bold;
                    float: right;
                }
                &.align{
                    line-height: 13px;
                }
            }
            .black-background{
                background: #4d5256;
                height: 10px;
                position: relative;
                .skillset-bar{
                    height: inherit;
                    background: #5bc9c5;
                    position: absolute;
                    width: 0;
                    top: 0; left: 0;
                }
            }
        }
        .left-margin{
            @include respond-to(tablet){
                margin-left: 2.1%;
            }
            @include respond-to(widescreen){
                margin-left: 2.3%;
            }
        }
    }
}