.freebies{
    padding: 50px 15px 80px;
    @include respond-to(tablet){
        padding: 100px 50px;
    }
    h4{
        margin: 40px 0;
        @include respond-to(tablet){
            margin-left: 30px;
        }
        @include respond-to(widescreen){
            margin: 0 0 50px 100px;
        }
    }
    .freebies-content{
        @include respond-to(tablet){
            padding: 0 30px;
        }
        p{
            @include box-sizing;    
            font-size: 14px;
            margin: 0;
            word-spacing: 2px;
            letter-spacing: 0;
            line-height: 2;
            @include respond-to(tablet){
                display: inline-block;
                width: 50%;
                &.left-content{
                    padding: 0 80px 0 0;
                    border-right: 1px solid #E5E7E9;
                }
                &.right-content{
                    padding: 0 0 0 80px;
                }
            }
            &.right-content{
                margin: 30px 0 0 0;
            }
        }
    }
}