.freebies{
    padding: 100px 50px;
    h4{
        margin: 0 0 50px 100px;
    }
    .freebies-content{
        padding: 0 30px;
        p{
            @include box-sizing;    
            font-size: 14px;
            width: 50%;
            display: inline-block;
            margin: 0;
            word-spacing: 2px;
            letter-spacing: 0;
            line-height: 2;
            &.left-content{
                padding: 0 80px 0 0;
                border-right: 1px solid #E5E7E9;
            }
            &.right-content{
                padding: 0 0 0 80px;
            }
        }
    }
}