@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  margin: 0; }

h1 {
  color: #5e6265;
  font: normal 60px 'Raleway', sans-serif; }

h2 {
  color: #fff;
  font: bold 18px 'Raleway', sans-serif;
  background: #000; }
  @media screen and (min-width: 600px) {
    h2 {
      font: normal 30px 'Raleway', sans-serif; } }
  @media screen and (min-width: 1025px) {
    h2 {
      font: normal 48px 'Raleway', sans-serif; } }

h3 {
  color: #8a9097;
  font: italic 20px 'Raleway', sans-serif; }

h4 {
  color: #5e6265;
  font: bold 15px 'Raleway', sans-serif; }
  h4:after {
    display: block;
    width: 30px;
    margin: 15px 0 0 0;
    border-top: 2px solid #59cbc7;
    content: ""; }

h5 {
  color: #414A52;
  text-transform: uppercase;
  font: bold 13px 'Raleway', sans-serif; }

article h1 {
  color: #fff;
  font: normal 16px 'Raleway', sans-serif; }

nav {
  color: #7d8185; }

a {
  text-decoration: none;
  position: relative;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
  font: normal 13px 'Raleway', sans-serif;
  cursor: pointer; }

p {
  color: #4d5256;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  font: normal 15px 'Raleway', sans-serif; }

button {
  font: normal 13px 'Raleway', sans-serif;
  cursor: pointer; }
  button.primary {
    border: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: #fff;
    background: #59cbc7; }
    @media screen and (min-width: 600px) {
      button.primary {
        padding: 20px; } }
  button.secondary {
    color: #59cbc7;
    background: transparent;
    border: 2px solid #59cbc7; }
  button:focus, button:active, button:visited {
    outline: 0; }

.bold {
  font-style: bold; }

.italic {
  font-style: italic; }

ul {
  list-style: none; }
  ul li {
    display: inline-block; }

figure, figcaption {
  margin: 0;
  padding: 0; }

.layer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .layer:hover {
    background-color: rgba(0, 0, 0, 0.8); }
    .layer:hover.article-wrapper article {
      background-color: rgba(0, 0, 0, 0.6); }

.logo {
  background: url("../images/Logo.png") no-repeat center center/cover;
  height: 100px;
  width: 100%;
  padding: 0;
  float: left;
  margin: 0; }
  @media screen and (min-width: 600px) {
    .logo {
      background: url("../images/Logo.png") no-repeat center/cover;
      width: 40%;
      height: 110px; } }
  @media screen and (min-width: 1025px) {
    .logo {
      width: 25%; } }

ul {
  padding: 0; }

header {
  position: relative; }
  header:after {
    clear: both;
    display: table;
    content: ""; }
  header nav, header .subscription {
    display: none; }
    @media screen and (min-width: 1025px) {
      header nav, header .subscription {
        display: block;
        padding: 30px 0; } }
  header nav {
    box-sizing: border-box; }
    header nav:after {
      clear: both;
      display: table;
      content: ""; }
    @media screen and (min-width: 1025px) {
      header nav {
        float: right;
        margin-right: 3%; } }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
      header nav {
        width: 55%;
        float: right;
        margin: 0; } }
    header nav.mobile-view {
      position: absolute;
      width: 100%;
      top: 97px;
      margin: 0;
      z-index: 10000;
      background: url("../images/Mobile Presentation.jpg"); }
      header nav.mobile-view li {
        margin-top: 20px;
        padding: 20px 0;
        text-align: center;
        display: block;
        width: 100%; }
        @media screen and (min-width: 600px) {
          header nav.mobile-view li {
            padding: 40px 0; } }
        header nav.mobile-view li a {
          padding: 0;
          box-sizing: border-box;
          color: #fff;
          font-size: 30px;
          height: 50px;
          text-align: center; }
          @media screen and (min-width: 600px) {
            header nav.mobile-view li a {
              font-size: 40px; } }
          header nav.mobile-view li a:hover:after {
            visibility: hidden; }
    header nav ul li {
      padding: 0 30px; }
      header nav ul li a {
        height: 36px;
        font-weight: bold;
        padding: 0 0 10px 0;
        color: #5e6265;
        text-align: center;
        word-spacing: 2px; }
        header nav ul li a:after {
          width: 100%;
          height: 2px;
          background: #4cafac;
          transform: scaleX(0);
          content: "";
          position: absolute;
          top: 25px;
          visibility: hidden;
          left: 0;
          transition: all .2s ease-in-out; }
        header nav ul li a:hover:after {
          visibility: visible;
          transform: scaleX(1); }
  header .right-border {
    border-right: 1px solid #8a9097; }
  header .subscription {
    float: right;
    background: url("../images/Mobile Presentation.jpg");
    line-height: 46px;
    height: 50px; }
    header .subscription label {
      padding: 10px 20px; }
      header .subscription label a {
        color: #59cbc7;
        text-transform: uppercase;
        padding: 0 0 10px 0;
        letter-spacing: 2px; }
        header .subscription label a:after {
          width: 100%;
          height: 2px;
          background: #4cafac;
          transform: scaleX(0);
          content: "";
          position: absolute;
          top: 25px;
          visibility: hidden;
          left: 0;
          transition: all .2s ease-in-out; }
        header .subscription label a:hover:after {
          visibility: visible;
          transform: scaleX(1); }
    header .subscription .search-icon {
      background: url("../images/search-icon.png") no-repeat center 0/70%;
      display: block;
      margin: 7px 14px 0 0;
      float: right;
      width: 50px;
      height: 30px; }
    header .subscription.search-bar {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      width: 55%; }
      header .subscription.search-bar input {
        margin-left: 10px;
        width: 90%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 20px;
        border: none;
        border-bottom: 2px solid #59cbc7;
        background: transparent;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; }
        header .subscription.search-bar input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header .subscription.search-bar input::-moz-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header .subscription.search-bar input:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header .subscription.search-bar input:-moz-placeholder {
          color: rgba(255, 255, 255, 0.7); }
        header .subscription.search-bar input:focus, header .subscription.search-bar input:active {
          outline: none; }
      header .subscription.search-bar .fa {
        margin-left: 10px;
        color: #fff; }
  header .nav-toggle {
    display: inline-block;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 11%;
    height: 100px; }
    header .nav-toggle .open {
      position: absolute;
      top: 48px;
      right: 10px;
      display: block;
      width: 30px;
      border-radius: 15%;
      height: 3px;
      transition: background 0.5s ease-in-out;
      background-color: #fff; }
      header .nav-toggle .open:before {
        transition: all 0.5s ease-in-out;
        content: "";
        display: block;
        top: -10px;
        width: 30px;
        border-radius: 15%;
        position: absolute;
        height: 3px;
        background-color: #fff; }
      header .nav-toggle .open:after {
        transition: all 0.5s ease-in-out;
        content: "";
        display: block;
        top: 10px;
        position: absolute;
        width: 30px;
        border-radius: 15%;
        height: 3px;
        background-color: #fff; }
      header .nav-toggle .open.close {
        transition: background 200ms ease-in-out;
        background: transparent; }
        header .nav-toggle .open.close:before {
          transition: transform 0.5s ease-in-out;
          transform: rotate(45deg);
          transform-origin: 2px 0; }
        header .nav-toggle .open.close:after {
          transition: transform 0.5s ease-in-out;
          transform: rotate(-45deg);
          transform-origin: -2px 2px; }
    @media screen and (min-width: 600px) {
      header .nav-toggle {
        height: 110px;
        background: url("../images/Mobile Presentation.jpg"); }
        header .nav-toggle .open {
          transform: scale(1.5);
          top: 54px;
          right: 27%; } }
    @media screen and (min-width: 1025px) {
      header .nav-toggle {
        display: none; } }

.carousel-wrapper {
  width: 99%;
  cursor: default;
  margin: 10px auto;
  overflow: hidden;
  max-height: 550px; }
  .carousel-wrapper ul {
    width: 300%;
    list-style: none;
    padding: 0;
    margin: 0; }
    .carousel-wrapper ul:after {
      clear: both;
      display: table;
      content: ""; }
  .carousel-wrapper li {
    float: left;
    box-sizing: border-box;
    width: 33.33%;
    height: 400px; }
    @media screen and (min-width: 600px) {
      .carousel-wrapper li {
        height: 500px; } }
    .carousel-wrapper li .carousel-layer {
      margin: 0;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      position: relative;
      padding: 0;
      height: inherit; }
    .carousel-wrapper li .carousel-content {
      color: #fff;
      text-align: center;
      width: 90%;
      padding: 60px 0 0 0;
      margin: 0 auto; }
      @media screen and (min-width: 600px) {
        .carousel-wrapper li .carousel-content {
          width: 80%;
          padding: 80px 0; } }
      .carousel-wrapper li .carousel-content p {
        color: #fff;
        margin: 60px 0 0 0;
        padding: 30px 0;
        border-top: 1px solid #8a9097; }
        @media screen and (min-width: 600px) {
          .carousel-wrapper li .carousel-content p {
            padding: 30px; } }
    .carousel-wrapper li.carousel-image-first {
      background: url("../images/carousel-image1.png") no-repeat center/cover; }
    .carousel-wrapper li.carousel-image-second {
      background: url("../images/carousel-image2.png") no-repeat center/cover; }
    .carousel-wrapper li.carousel-image-third {
      background: url("../images/carousel-image3.png") no-repeat center/cover; }
    .carousel-wrapper li h2 {
      margin: 0;
      line-height: 1.5;
      background: none;
      font-style: italic; }
    .carousel-wrapper li .primary {
      margin-top: 40px; }
      @media screen and (min-width: 600px) {
        .carousel-wrapper li .primary {
          margin-top: 50px; } }

.collectives {
  width: 90%;
  cursor: default;
  margin: 50px auto 30px; }
  .collectives:after {
    clear: both;
    display: table;
    content: ""; }
  @media screen and (min-width: 600px) {
    .collectives {
      width: 80%;
      margin: 80px auto 50px; } }
  @media screen and (min-width: 1025px) {
    .collectives {
      margin: 140px auto 100px; } }
  @media screen and (min-width: 600px) {
    .collectives h4 {
      float: left;
      width: 30%; } }
  @media screen and (min-width: 600px) {
    .collectives .collective-content {
      float: left;
      width: 70%; } }
  .collectives .collective-content p {
    margin-bottom: 30px;
    line-height: 27px !important; }
  .collectives .collective-content iframe {
    border: 5px solid #f4f6f9;
    width: 100%;
    height: 300px;
    margin: 20px 0; }
    @media screen and (min-width: 600px) {
      .collectives .collective-content iframe {
        width: 80%;
        margin: 40px 0 50px -100px; } }

.crew {
  background: #F4F6F9;
  padding: 20px 0; }
  @media screen and (min-width: 600px) {
    .crew {
      padding: 80px 50px; } }
  .crew h4 {
    width: 90%;
    margin: 10px auto; }
    @media screen and (min-width: 1025px) {
      .crew h4 {
        margin: 50px 0 30px 100px; } }
  .crew .skillsets, .crew .crew-members {
    width: 90%;
    margin: 30px auto;
    box-sizing: border-box; }
    .crew .skillsets:after, .crew .crew-members:after {
      clear: both;
      display: table;
      content: ""; }
    @media screen and (min-width: 600px) {
      .crew .skillsets, .crew .crew-members {
        width: 96%;
        margin: 45px 0; } }
    @media screen and (min-width: 1025px) {
      .crew .skillsets, .crew .crew-members {
        margin: 60px auto; } }
  .crew .crew-members article {
    width: 100%;
    min-height: 320px;
    max-height: 500px;
    margin: 30px 0; }
    @media screen and (min-width: 600px) {
      .crew .crew-members article {
        display: inline-block;
        margin: 15px 0;
        vertical-align: top;
        width: 48%; } }
    @media screen and (min-width: 1025px) {
      .crew .crew-members article {
        width: 23%; } }
    .crew .crew-members article .hover-layer {
      display: none;
      background: rgba(91, 201, 197, 0.7);
      text-align: center;
      padding: 100px 0;
      box-sizing: border-box;
      min-height: 320px;
      max-height: 500px; }
      @media screen and (min-width: 600px) {
        .crew .crew-members article .hover-layer {
          padding: 80px 0 0; } }
      .crew .crew-members article .hover-layer h2 {
        font-size: 15px;
        background: transparent;
        text-transform: uppercase; }
      .crew .crew-members article .hover-layer p {
        padding: 10px 20px;
        word-spacing: 0;
        letter-spacing: 0;
        color: #fff;
        font-size: 15px; }
    .crew .crew-members article:hover .hover-layer {
      display: block; }
    .crew .crew-members article.peter {
      background: url("../images/Peter.png") no-repeat center center/cover; }
      @media screen and (min-width: 600px) {
        .crew .crew-members article.peter {
          margin-right: 1.9%; } }
      @media screen and (min-width: 1025px) {
        .crew .crew-members article.peter {
          margin: 0 1.3% 0 0; } }
    .crew .crew-members article.blaz {
      background: url("../images/Blaz.png") no-repeat center center/cover; }
      @media screen and (min-width: 600px) {
        .crew .crew-members article.blaz {
          margin-left: 1.8%; } }
      @media screen and (min-width: 1025px) {
        .crew .crew-members article.blaz {
          margin: 0 1.3%; } }
    .crew .crew-members article.maryLou {
      background: url("../images/Mary Lou.png") no-repeat center center/cover; }
      @media screen and (min-width: 600px) {
        .crew .crew-members article.maryLou {
          margin-right: 1.9%; } }
      @media screen and (min-width: 1025px) {
        .crew .crew-members article.maryLou {
          margin: 0 1.3%; } }
    .crew .crew-members article.kobe {
      background: url("../images/Dude.png") no-repeat center center/cover; }
      @media screen and (min-width: 600px) {
        .crew .crew-members article.kobe {
          margin-left: 1.8%; } }
      @media screen and (min-width: 1025px) {
        .crew .crew-members article.kobe {
          margin: 0 0 0 1.3%; } }
    .crew .crew-members article .social-links a {
      width: 20px;
      height: 20px;
      padding: 0;
      display: inline-block; }
    .crew .crew-members article .social-links .twitter {
      margin-right: 5px;
      background: url("../images/twitter_icon.png") no-repeat center/70%; }
    .crew .crew-members article .social-links .linkedin {
      margin-left: 5px;
      background: url("../images/linkedin _icon.png") no-repeat center/70%; }
  .crew .skillsets article {
    margin: 20px 0; }
    @media screen and (min-width: 600px) {
      .crew .skillsets article {
        display: inline-block;
        width: 48.5%; } }
    @media screen and (min-width: 1025px) {
      .crew .skillsets article {
        margin-bottom: 30px; } }
    .crew .skillsets article h5 {
      margin: 0 0 10px 0;
      line-height: 20px;
      box-sizing: border-box; }
      .crew .skillsets article h5:after {
        clear: both;
        display: table;
        content: ""; }
      .crew .skillsets article h5 span {
        font-weight: bold;
        float: right; }
      .crew .skillsets article h5.align {
        line-height: 13px; }
    .crew .skillsets article .black-background {
      background: #4d5256;
      height: 10px;
      position: relative; }
      .crew .skillsets article .black-background .skillset-bar {
        height: inherit;
        background: #5bc9c5;
        position: absolute;
        width: 0;
        top: 0;
        left: 0; }
  @media screen and (min-width: 600px) {
    .crew .skillsets .left-margin {
      margin-left: 2%; } }
  @media screen and (min-width: 1025px) {
    .crew .skillsets .left-margin {
      margin-left: 2.3%; } }

.achievements {
  box-sizing: border-box;
  padding: 70px 0;
  height: 440px;
  background: url("../images/Group5.png") no-repeat center/cover; }
  @media screen and (min-width: 600px) {
    .achievements {
      padding: 170px 0;
      height: 400px;
      background: url("../images/Group5.png") no-repeat; } }
  .achievements .achievements-container {
    margin: 5px auto;
    height: 60px; }
    @media screen and (min-width: 600px) {
      .achievements .achievements-container {
        margin: 0 auto; } }
    @media screen and (min-width: 1025px) {
      .achievements .achievements-container {
        width: 80%; } }
    .achievements .achievements-container .achievement {
      text-align: center;
      margin: 0 auto 50px;
      box-sizing: border-box; }
      @media screen and (min-width: 600px) {
        .achievements .achievements-container .achievement {
          display: inline-block;
          width: 32%;
          margin: 0 0 0 5px; }
          .achievements .achievements-container .achievement.right-border {
            border-right: 1px solid #8a9097; } }
      .achievements .achievements-container .achievement span {
        display: inline-block;
        width: 60px;
        height: 60px; }
        .achievements .achievements-container .achievement span.cup {
          background: url("../images/Cup.png") no-repeat center/cover; }
        .achievements .achievements-container .achievement span.book {
          background: url("../images/Book.png") no-repeat center/cover; }
        .achievements .achievements-container .achievement span.pen {
          background: url("../images/Pen.png") no-repeat center/cover; }
      .achievements .achievements-container .achievement .achievement-detail {
        display: inline-block;
        padding: 0;
        vertical-align: top; }
        @media screen and (min-width: 600px) {
          .achievements .achievements-container .achievement .achievement-detail {
            padding: 0 0 0 5px;
            text-align: left; } }
        .achievements .achievements-container .achievement .achievement-detail p {
          margin: 0;
          color: #fff;
          letter-spacing: 0;
          word-spacing: 0; }
          .achievements .achievements-container .achievement .achievement-detail p.achievement-value {
            font-size: 55px;
            line-height: 25px;
            padding: 0 0 20px 0; }
          .achievements .achievements-container .achievement .achievement-detail p.catagory {
            font-size: 15px; }

.latest-articles {
  box-sizing: border-box;
  padding: 30px 15px;
  background: #f4f6f9; }
  @media screen and (min-width: 600px) {
    .latest-articles {
      padding: 80px 10%; } }
  @media screen and (min-width: 1025px) {
    .latest-articles {
      padding: 80px 50px; } }
  @media screen and (min-width: 600px) {
    .latest-articles .article-header {
      margin: 10px 0 50px 0; } }
  @media screen and (min-width: 1025px) {
    .latest-articles .article-header {
      margin: 0 0 50px 100px;
      padding-right: 2%; } }
  .latest-articles .article-header h4 {
    margin-bottom: 10px; }
    @media screen and (min-width: 600px) {
      .latest-articles .article-header h4 {
        width: 55%;
        display: inline-block; } }
    @media screen and (min-width: 1025px) {
      .latest-articles .article-header h4 {
        width: 65%; } }
  .latest-articles .article-header h5 {
    display: inline-block;
    width: 16%; }
    @media screen and (min-width: 600px) {
      .latest-articles .article-header h5 {
        width: 11%;
        padding-right: 20px; } }
    @media screen and (min-width: 1025px) {
      .latest-articles .article-header h5 {
        width: 6%; } }
  .latest-articles .article-header select {
    width: 100%;
    padding: 0 0 10px 5px;
    font-size: 13px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: url("../images/arrow-down.png") no-repeat 98% 6px;
    color: rgba(65, 74, 82, 0.5);
    border-bottom: 2px solid #5bc9c5; }
    @media screen and (min-width: 600px) {
      .latest-articles .article-header select {
        padding: 0 0 10px 0;
        width: 25%; } }
    .latest-articles .article-header select:focus {
      outline: none; }
  .latest-articles .article-wrapper {
    padding: 0; }
    @media screen and (min-width: 1025px) {
      .latest-articles .article-wrapper {
        padding: 0 20px; } }
    .latest-articles .article-wrapper article {
      position: relative;
      margin: 50px 0 0; }
      @media screen and (min-width: 1025px) {
        .latest-articles .article-wrapper article {
          display: inline-block;
          width: 32%;
          margin: 0;
          vertical-align: top; }
          .latest-articles .article-wrapper article.spacing {
            margin: 0 2% 50px 0; } }
      .latest-articles .article-wrapper article a {
        color: #5bc9c5; }
      .latest-articles .article-wrapper article img {
        width: 100%;
        height: 225px; }
        @media screen and (min-width: 600px) {
          .latest-articles .article-wrapper article img {
            height: 300px; } }
      .latest-articles .article-wrapper article .layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 225px; }
        @media screen and (min-width: 600px) {
          .latest-articles .article-wrapper article .layer {
            height: 300px; } }
      .latest-articles .article-wrapper article h2 {
        background: none;
        font-weight: 500;
        line-height: 30px;
        color: #4d5256;
        font-size: 20px; }
        .latest-articles .article-wrapper article h2 span {
          margin: 0 0 0 5px;
          font-size: 16px;
          vertical-align: top;
          display: none; }
      .latest-articles .article-wrapper article p {
        font-size: 13px;
        line-height: 20px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #E5E7E9; }
      .latest-articles .article-wrapper article .more-links:after {
        clear: both;
        display: table;
        content: ""; }
      .latest-articles .article-wrapper article .more-links span {
        color: #4d5256;
        font-size: 13px;
        float: right;
        margin-right: 10px; }
        .latest-articles .article-wrapper article .more-links span .fa {
          vertical-align: top;
          margin-right: 3px; }
      .latest-articles .article-wrapper article:hover span {
        transition: all 300ms;
        display: inline; }
  .latest-articles .button {
    text-align: center;
    margin: 40px 0 20px; }
    .latest-articles .button .secondary {
      margin: 20px auto;
      letter-spacing: 1px;
      height: 50px;
      padding: 15px 20px; }
      .latest-articles .button .secondary:focus, .latest-articles .button .secondary:active {
        outline: none; }
      .latest-articles .button .secondary:hover {
        outline: none;
        color: #fff;
        background: #59cbc7; }

.freebies {
  padding: 50px 15px 80px; }
  @media screen and (min-width: 600px) {
    .freebies {
      padding: 100px 50px; } }
  .freebies h4 {
    margin: 40px 0; }
    @media screen and (min-width: 600px) {
      .freebies h4 {
        margin-left: 30px; } }
    @media screen and (min-width: 1025px) {
      .freebies h4 {
        margin: 0 0 50px 100px; } }
  @media screen and (min-width: 600px) {
    .freebies .freebies-content {
      padding: 0 30px; } }
  .freebies .freebies-content p {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    word-spacing: 2px;
    letter-spacing: 0;
    line-height: 2; }
    @media screen and (min-width: 600px) {
      .freebies .freebies-content p {
        display: inline-block;
        width: 50%; }
        .freebies .freebies-content p.left-content {
          padding: 0 80px 0 0;
          border-right: 1px solid #E5E7E9; }
        .freebies .freebies-content p.right-content {
          padding: 0 0 0 80px; } }
    .freebies .freebies-content p.right-content {
      margin: 30px 0 0 0; }

.contacts:after {
  clear: both;
  display: table;
  content: ""; }
.contacts button {
  display: none;
  padding: 15px 20px; }
  .contacts button:hover {
    color: #fff;
    background: #59cbc7; }
.contacts .contact-container {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box; }
  @media screen and (min-width: 600px) {
    .contacts .contact-container {
      width: 50%; } }
  .contacts .contact-container img {
    width: 100%;
    display: block;
    height: 320px; }
    @media screen and (min-width: 600px) {
      .contacts .contact-container img {
        height: 450px; } }
  .contacts .contact-container .layer {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px 40px;
    height: 320px; }
    @media screen and (min-width: 600px) {
      .contacts .contact-container .layer {
        height: 450px; } }
    .contacts .contact-container .layer .contact {
      text-align: center;
      position: absolute;
      max-height: 500px;
      width: 100%;
      top: 20%;
      left: 0; }
      @media screen and (min-width: 600px) {
        .contacts .contact-container .layer .contact {
          top: 30%; } }
      .contacts .contact-container .layer .contact h5 {
        display: none;
        color: rgba(220, 220, 220, 0.7); }
      .contacts .contact-container .layer .contact p {
        display: none;
        margin: 10px 20px 30px;
        font-size: 13px;
        padding-bottom: 20px;
        border-bottom: 2px solid #fff;
        color: #fff; }
    .contacts .contact-container .layer .fa {
      color: #fff;
      display: none; }
    .contacts .contact-container .layer span {
      margin-left: 5px;
      font-size: 15px;
      color: #fff;
      display: none; }
    .contacts .contact-container .layer:hover h5 {
      display: block; }
    .contacts .contact-container .layer:hover p, .contacts .contact-container .layer:hover button, .contacts .contact-container .layer:hover .fa, .contacts .contact-container .layer:hover span {
      display: inline-block; }
.contacts .button-wrapper {
  text-align: center; }
  .contacts .button-wrapper .secondary {
    margin: 70px 0;
    display: inline-block; }
  .contacts .button-wrapper .promotion {
    background: linear-gradient(225deg, #70f6ea 0%, #51ccdc 100%);
    padding: 50px 0 20px;
    max-height: 230px; }
    @media screen and (min-width: 600px) {
      .contacts .button-wrapper .promotion {
        padding: 95px 0; } }
    .contacts .button-wrapper .promotion .container a, .contacts .button-wrapper .promotion .container h2 {
      margin: 0;
      background: none;
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 18px;
      text-align: center;
      font-weight: 100;
      line-height: 2; }
      @media screen and (min-width: 600px) {
        .contacts .button-wrapper .promotion .container a, .contacts .button-wrapper .promotion .container h2 {
          display: inline-block;
          font-size: 30px; } }
    .contacts .button-wrapper .promotion .container a {
      font-weight: 700;
      border-bottom: 1px solid #fff;
      padding: 0 0 2px 0;
      color: #fff; }
    .contacts .button-wrapper .promotion .container button {
      vertical-align: top;
      padding: 10px 20px;
      display: inline-block;
      color: #fff;
      border-color: #fff;
      margin: 40px 0; }
      @media screen and (min-width: 600px) {
        .contacts .button-wrapper .promotion .container button {
          margin: 0 0 0 20px; } }
      .contacts .button-wrapper .promotion .container button:hover {
        background: #fff;
        color: #59cbc7; }

footer {
  padding: 50px 15px 20px;
  word-spacing: 0;
  letter-spacing: 0;
  max-height: 600px;
  background: url("../images/bg.png") no-repeat center center/cover; }
  @media screen and (min-width: 600px) {
    footer {
      padding: 90px 20px; } }
  footer .logo-wrapper {
    padding: 0 0 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    @media screen and (min-width: 600px) {
      footer .logo-wrapper {
        padding: 0 0 70px 0; } }
    footer .logo-wrapper div:after {
      clear: both;
      display: table;
      content: ""; }
    footer .logo-wrapper div .logo {
      height: 70px;
      background: url("../images/Logo.png") no-repeat center center/120%; }
      @media screen and (min-width: 600px) {
        footer .logo-wrapper div .logo {
          width: 300px; } }
    footer .logo-wrapper p {
      text-align: center;
      font-size: 13px;
      color: #fff;
      margin: 20px 0 0; }
      @media screen and (min-width: 600px) {
        footer .logo-wrapper p {
          margin: 0 0 0 30px;
          text-align: left; } }
  footer nav, footer p {
    margin: 20px 0 0; }
    footer nav:after, footer p:after {
      clear: both;
      display: table;
      content: ""; }
    @media screen and (min-width: 600px) {
      footer nav, footer p {
        margin: 30px 0 0 20px; } }
    footer nav ul, footer p ul {
      margin: 0;
      padding: 0; }
      footer nav ul li, footer p ul li {
        display: block;
        padding: 20px 0 10px;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
        @media screen and (min-width: 600px) {
          footer nav ul li, footer p ul li {
            display: inline-block;
            text-align: center;
            border: none; }
            footer nav ul li a, footer p ul li a {
              margin-left: 10px;
              padding: 0 0 10px 0; }
              footer nav ul li a:after, footer p ul li a:after {
                width: 100%;
                height: 2px;
                background: #4cafac;
                transform: scaleX(0);
                content: "";
                position: absolute;
                top: 25px;
                visibility: hidden;
                left: 0;
                transition: all .2s ease-in-out; }
              footer nav ul li a:hover:after, footer p ul li a:hover:after {
                visibility: visible;
                transform: scaleX(1); } }
        @media screen and (min-width: 1025px) {
          footer nav ul li, footer p ul li {
            margin-right: 20px; } }
        footer nav ul li a, footer p ul li a {
          font-size: 14px;
          color: #fff; }
    @media screen and (min-width: 600px) {
      footer nav .footer-nav, footer p .footer-nav {
        width: 70%;
        float: left; } }
    @media screen and (min-width: 600px) {
      footer nav .footer-share, footer p .footer-share {
        width: 25%;
        float: right; } }
    footer nav .footer-share li .fa, footer p .footer-share li .fa {
      margin: 0 5px 0 0; }
  footer p {
    word-spacing: 0;
    letter-spacing: 0;
    color: #8A9097; }
    footer p a {
      padding: 0;
      color: #fff;
      font-size: 15px; }

/*# sourceMappingURL=main.css.map */
