@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  margin: 0; }

h1 {
  color: #5e6265;
  font: normal 60px 'Raleway', sans-serif; }

h2 {
  color: #fff;
  font: normal 48px 'Raleway', sans-serif;
  background: #000; }

h3 {
  color: #8a9097;
  font: italic 20px 'Raleway', sans-serif; }

h4 {
  color: #5e6265;
  font: bold 15px 'Raleway', sans-serif; }
  h4:after {
    display: block;
    width: 30px;
    margin: 15px 0 0 0;
    border-top: 2px solid #59cbc7;
    content: ""; }

h5 {
  color: #414A52;
  text-transform: uppercase;
  font: bold 13px 'Raleway', sans-serif; }

article h1 {
  color: #fff;
  font: normal 16px 'Raleway', sans-serif; }

nav {
  color: #7d8185; }

a {
  text-decoration: none;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
  font: normal 13px 'Raleway', sans-serif;
  cursor: pointer; }

p {
  color: #4d5256;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  font: normal 15px 'Raleway', sans-serif; }

button {
  font: normal 13px 'Raleway', sans-serif;
  cursor: pointer; }
  button.primary {
    border: none;
    letter-spacing: 3px;
    padding: 20px;
    color: #fff;
    background: #59cbc7; }
  button.secondary {
    color: #59cbc7;
    border: 2px solid #59cbc7; }

.bold {
  font-style: bold; }

.italic {
  font-style: italic; }

ul {
  list-style: none; }
  ul li {
    display: inline-block; }

*:hover {
  transition-delay: 200ms;
  transition-timing-function: ease; }

figure, figcaption {
  margin: 0;
  padding: 0; }

header:after {
  clear: both;
  display: table;
  content: ""; }
header .logo {
  float: left;
  background: url("../images/Logo.png") center/cover;
  height: 110px;
  width: 25%;
  padding: 0;
  margin: 0; }
header nav, header .subscription {
  padding: 30px 0; }
header nav {
  float: left;
  margin-left: 130px;
  box-sizing: border-box; }
  header nav:after {
    clear: both;
    display: table;
    content: ""; }
  header nav ul li {
    padding: 0 30px; }
    header nav ul li a {
      height: 36px;
      font-weight: bold;
      padding: 0 0 10px 0;
      color: #5e6265;
      text-align: center;
      word-spacing: 2px; }
      header nav ul li a:hover {
        border-bottom: 2px solid #4cafac;
        color: #4cafac;
        transition-duration: 200ms; }
header .right-border {
  border-right: 1px solid #8a9097; }
header .subscription {
  float: right;
  background: url("../images/Mobile Presentation.jpg");
  width: 15%;
  line-height: 46px;
  height: 50px; }
  header .subscription label {
    padding: 10px 20px; }
    header .subscription label a {
      color: #59cbc7;
      text-transform: uppercase;
      padding: 0 0 10px 0;
      letter-spacing: 2px; }
      header .subscription label a:hover {
        border-bottom: 2px solid #4cafac;
        color: #4cafac;
        transition-duration: 200ms; }
  header .subscription .search-icon {
    background: url("../images/search-icon.png") no-repeat center 0/70%;
    display: block;
    margin: 7px 14px 0 0;
    float: right;
    width: 50px;
    height: 30px; }

.carousel-wrapper {
  width: 99%;
  cursor: default;
  margin: 10px auto;
  overflow: hidden;
  max-height: 550px; }
  .carousel-wrapper ul {
    width: 300%;
    list-style: none;
    padding: 0;
    margin: 0; }
    .carousel-wrapper ul:after {
      clear: both;
      display: table;
      content: ""; }
  .carousel-wrapper li {
    float: left;
    box-sizing: border-box;
    width: 33.33%;
    height: 500px; }
    .carousel-wrapper li .layer {
      margin: 0;
      color: #fff;
      position: relative;
      padding: 0;
      width: 100%;
      height: inherit;
      background-color: rgba(138, 144, 151, 0.7); }
    .carousel-wrapper li .carousel-content {
      color: #fff;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 80px 0; }
    .carousel-wrapper li p {
      color: #fff;
      margin: 60px 0 0 0;
      padding: 30px;
      border-top: 1px solid #8a9097; }
    .carousel-wrapper li.carousel-image-first {
      background: url("../images/carousel-image1.png") no-repeat center/cover; }
    .carousel-wrapper li.carousel-image-second {
      background: url("../images/carousel-image2.png") no-repeat center/cover; }
    .carousel-wrapper li.carousel-image-third {
      background: url("../images/carousel-image3.png") no-repeat center/cover; }
    .carousel-wrapper li h2 {
      margin: 0;
      line-height: 1.5;
      background: none;
      font-style: italic; }
    .carousel-wrapper li .primary {
      margin-top: 50px; }
    .carousel-wrapper li .popUp {
      position: absolute;
      bottom: 5px;
      left: 5px;
      padding: 20px;
      border: 1px solid #8a9097; }

.collectives {
  width: 80%;
  cursor: default;
  margin: 140px auto 100px; }
  .collectives:after {
    clear: both;
    display: table;
    content: ""; }
  .collectives h4 {
    float: left;
    width: 25%; }
  .collectives .collective-content {
    float: left;
    width: 70%; }
    .collectives .collective-content p {
      margin-bottom: 30px;
      line-height: 27px !important; }
    .collectives .collective-content iframe {
      margin: 40px 0 50px -100px;
      border: 5px solid #f4f6f9;
      width: 80%;
      height: 300px; }

.crew {
  background: #f4f6f9;
  padding: 80px 50px; }
  .crew h4 {
    margin: 50px 0 30px 100px; }
  .crew .skillsets, .crew .crew-members {
    width: 96%;
    box-sizing: border-box; }
    .crew .skillsets:after, .crew .crew-members:after {
      clear: both;
      display: table;
      content: ""; }
  .crew .crew-members {
    margin: 60px auto; }
    .crew .crew-members article {
      float: left;
      width: 23%;
      height: 300px; }
      .crew .crew-members article .hover-layer {
        display: none;
        background: rgba(91, 201, 197, 0.7);
        text-align: center;
        padding: 50px 0;
        box-sizing: border-box;
        height: inherit; }
        .crew .crew-members article .hover-layer h2 {
          background: transparent;
          font-size: 15px;
          text-transform: uppercase; }
        .crew .crew-members article .hover-layer p {
          padding: 10px 20px;
          word-spacing: 0;
          letter-spacing: 0;
          color: #fff; }
      .crew .crew-members article:hover .hover-layer {
        display: block; }
      .crew .crew-members article.peter {
        margin-right: 15px;
        background: url("../images/Peter.png") no-repeat; }
      .crew .crew-members article.blaz {
        margin: 0 15px;
        background: url("../images/Blaz.png") no-repeat; }
      .crew .crew-members article.maryLou {
        margin: 0 15px;
        background: url("../images/Mary Lou.png") no-repeat; }
      .crew .crew-members article.kobe {
        margin-left: 15px;
        background: url("../images/Dude.png") no-repeat; }
      .crew .crew-members article .social-links a {
        width: 20px;
        height: 20px;
        padding: 0;
        display: inline-block; }
      .crew .crew-members article .social-links .twitter {
        margin-right: 5px;
        background: url("../images/twitter_icon.png") no-repeat center/70%; }
      .crew .crew-members article .social-links .linkedin {
        margin-left: 5px;
        background: url("../images/linkedin _icon.png") no-repeat center/70%; }
  .crew .skillsets {
    margin: 30px auto; }
    .crew .skillsets article {
      display: inline-block;
      width: 48.5%;
      margin-bottom: 30px; }
      .crew .skillsets article h5 {
        margin: 0 0 10px 0;
        line-height: 20px;
        box-sizing: border-box; }
        .crew .skillsets article h5:after {
          clear: both;
          display: table;
          content: ""; }
        .crew .skillsets article h5 span {
          font-weight: bold;
          float: right; }
        .crew .skillsets article h5.align {
          line-height: 13px; }
      .crew .skillsets article .black-background {
        background: #4d5256;
        height: 10px;
        position: relative; }
        .crew .skillsets article .black-background .skillset-bar {
          height: inherit;
          background: #5bc9c5;
          position: absolute;
          top: 0;
          left: 0; }
          .crew .skillsets article .black-background .skillset-bar.design, .crew .skillsets article .black-background .skillset-bar.visual-design {
            width: 90%; }
          .crew .skillsets article .black-background .skillset-bar.prototyping {
            width: 80%; }
          .crew .skillsets article .black-background .skillset-bar.basic {
            width: 95%; }
    .crew .skillsets .left-margin {
      margin-left: 2.3%; }

.achievements {
  box-sizing: border-box;
  margin: 0 0 50px 0;
  height: 400px;
  padding: 170px 0;
  background: url("../images/Group5.png") no-repeat; }
  .achievements .achievements-container {
    width: 80%;
    margin: 0 auto;
    height: 60px; }
    .achievements .achievements-container .achievement {
      width: 33%;
      text-align: center;
      display: inline-block;
      box-sizing: border-box; }
      .achievements .achievements-container .achievement.right-border {
        border-right: 1px solid #8a9097; }
      .achievements .achievements-container .achievement span {
        display: inline-block;
        width: 60px;
        height: 60px; }
        .achievements .achievements-container .achievement span.cup {
          background: url("../images/Cup.png") no-repeat center/cover; }
        .achievements .achievements-container .achievement span.book {
          background: url("../images/Book.png") no-repeat center/cover; }
        .achievements .achievements-container .achievement span.pen {
          background: url("../images/Pen.png") no-repeat center/cover; }
      .achievements .achievements-container .achievement .achievement-detail {
        display: inline-block;
        padding: 0 0 0 5px;
        vertical-align: top;
        text-align: left; }
        .achievements .achievements-container .achievement .achievement-detail p {
          margin: 0;
          color: #fff;
          letter-spacing: 0;
          word-spacing: 0; }
          .achievements .achievements-container .achievement .achievement-detail p.achievement-value {
            font-size: 55px;
            line-height: 25px;
            padding: 0 0 20px 0; }
          .achievements .achievements-container .achievement .achievement-detail p.catagory {
            font-size: 15px; }

.latest-articles {
  padding: 80px 50px;
  background: #f4f6f9; }
  .latest-articles .article-header {
    margin: 0 0 50px 100px; }
    .latest-articles .article-header h4 {
      width: 65%;
      display: inline-block; }
    .latest-articles .article-header h5 {
      display: inline-block;
      padding-right: 20px; }
    .latest-articles .article-header select {
      width: 25%;
      padding: 0 0 10px 0;
      font-size: 13px;
      appearance: none;
      -webkit-appearance: none;
      background-image: url("../images/dropArrow.png") no-repeat;
      background-position: 280px 5px;
      border: none;
      background: transparent;
      color: rgba(65, 74, 82, 0.5);
      border-bottom: 2px solid #5bc9c5; }
      .latest-articles .article-header select:focus {
        outline: none; }

/*# sourceMappingURL=main.css.map */
